form {
    width: 70%;
    margin: 2rem auto 0 auto;
    text-align: center;
}

.final-date {
    text-align: start;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(144, 0, 255);
    margin-bottom: 3rem;
}

.form {
    width: 100%;
}

.buttons {
    width: 100%;
    text-align: end;
}

button {
    margin-left: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}