<div class="container">
  <div class="badge">
    <button (click)= "finishedTasks()" class= "tarefas-finalizadas mat-elevation-z8" mat-stroked-button color="primary" matBadge="{{ closed }}">Finished Tasks </button>
  </div>
    <button (click)="createNewTodo()"class = "novo-todo mat-elevation-z8" mat-stroked-button color="primary">NEW TO-DO</button>

    <div class="Content" *ngFor="let item of list">
      <mat-card class="example-card mat-elevation-z8">
          <P>Data Para Finalizar: {{item.dataParaFinalizar}} </P>
          <mat-card-header>
            <mat-card-title>{{ item.titulo }}</mat-card-title>
            <mat-card-subtitle>{{ item.descricao }}</mat-card-subtitle>
          </mat-card-header>

          <div class="actions">
              <button (click)="finish(item)" mat-mini-fab color="primary">
                  <mat-icon>done</mat-icon>
                </button>

              <button routerLink="update/{{ item.id }}" mat-mini-fab color="accent">
                  <mat-icon>edit</mat-icon>
                </button>

                <button (click)="delete(item.id)" mat-mini-fab color="warn">
                  <mat-icon>delete</mat-icon>
                </button>
          </div>
        </mat-card>
    </div>
</div>